.notes {
  color: white;
  border-radius: 2%;
  border-color: palevioletred;
  background-color: palevioletred;
  width: 20%;
  margin: 5px;
}

.note-author-name {
  text-align: right;
}

.note-created-at {
  text-align: right;
  font-style: italic;
}

.delete {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.delete:hover,
.delete:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
