.add-note-modal-button {
  margin: 5px;
  width: 15%;
  color: white;
  border-radius: 2%;
  border-color: pink;
  background-color: pink;
  font-size: x-large;
}

.sort-button {
  color: white;
  border-radius: 1px;
  background-color: darkcyan;
  border-color: darkcyan;
  width: 100px;
}
